In [7]:
import pandas as pd

df = pd.read_csv(r'C:\Users\HP\Desktop\Python\tackoverflow_qa.csv')
df.head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,332289,2008-12-01 21:24:44,3184,5962784,How do I change the size of figures drawn with...,14,1,0.0,tatwright,37837.0,NaN,NaN
1,2051744,2010-01-12 19:31:47,420,587728,How to invert the x or y axis,10,3,0.0,DarkAnt,4211.0,Demitri,13369.0
2,2225995,2010-02-09 00:51:38,51,59922,How can I create stacked line graph?,4,0,0.0,David Underhill,15936.0,doug,69290.0
3,5486226,2011-03-30 12:26:50,7,6393,Rolling median in python,5,4,0.0,yueerhu,175.0,Mike Pennington,42288.0
4,5515021,2011-04-01 14:50:44,10,13744,Compute a compounded return series in Python,3,6,0.0,Jason Strimpel,14916.0,Mike Pennington,42288.0

In [30]:
# Task 1. Find all questions that were created before 2014

# Convert the CreationDate column to datetime
df['creationdate'] = pd.to_datetime(df['creationdate'])

# Filter for rows before 2014
filtered_df = df[df['creationdate'].dt.year < 2014]

# Display the result
filtered_df

# Optionally: Save to a new CSV
filtered_df.to_csv("questions_before_2014.csv", index=False)

In [ ]:
# Task 2. Find all questions with a score more than 50

filtered_score=df[df['score']>50]
filtered_score

In [ ]:
# Task 3. Find all questions with a score between 50 and 100

filt_score=df[(df['score']>=50) & (df['score']<=100)]
filt_score

In [ ]:
# Task 4. Find all questions answered by Scott Boston

answ_Scott=df[(df['ans_name']=="Scott Boston")]
answ_Scott

In [ ]:
# Task 5. Find all questions answered by the following 5 users

user=['Unutbu', 'Scott Boston', 'DarkAnt', 'Matt Dowle', 'Wes McKinney']

filter2=df[df['ans_name'].isin(user)]
filter2

In [ ]:
# Task 6. Find all questions that were created between March, 2014 and October 2014 that were answered by Unutbu and have score less than 5.

df['creationdate']=pd.to_datetime(df['creationdate'])
filt_ques=df[(df["creationdate"]>='2014-03-01') & (df['creationdate']<='2014-10-31')
             & (df['ans_name']=='Unutbu') & (df['score']<5)]

filt_ques

In [ ]:
# Task 7. Find all questions that have score between 5 and 10 or have a view count of greater than 10,000

filter_score1=df[(df["score"]>=5) & (df["score"]<=100) | (df["viewcount"]>10000)]
filter_score1

In [ ]:
# Task 8. Find all questions that are not answered by Scott Boston

by_Scott=df[(df['ans_name']=="Scott Boston")]
not_by_Scott=df[~df['ans_name'].isin(by_Scott)]
not_by_Scott

In [ ]:
# Task 1. Select Female Passengers in Class 1 with Ages between 20 and 30: Extract a DataFrame containing female passengers in Class 1 with ages between 20 and 30.

import pandas as pd

df1 = pd.read_csv(r'C:\Users\HP\Desktop\Python\titanic.csv')
df
female=df1[
    (df1['Pclass']==1) &
    (df1['Sex']=='female') &
    (df1['Age']>=20) &
    (df1['Age']<=30)
][['Sex', 'Pclass', 'Age']]
female

In [ ]:
# Task 2. Filter Passengers Who Paid More than $100: Create a DataFrame with passengers who paid a fare greater than $100.

fare=df1[df1['Fare']>100]
fare

In [ ]:
# Task 3. Select Passengers Who Survived and Were Alone: Filter passengers who survived and were traveling alone (no siblings, spouses, parents, or children).

Alone_passenger=df1[
    (df1['Survived'] > 0) &
    (df1['SibSp']==0) &
    (df1['Parch']==0)
]
Alone_passenger

In [ ]:
# Task 4. Filter Passengers Embarked from 'C' and Paid More Than $50: Create a DataFrame with passengers who embarked from 'C' and paid more than $50.

filt=df1[
    (df1['Embarked']=='C') &
    (df1['Fare']>50)
][['Name', 'Embarked', 'Fare']]  

filt

In [ ]:
# Task 5. Select Passengers with Siblings or Spouses and Parents or Children: Extract passengers who had both siblings or spouses aboard and parents or children aboard.

Not_alone_passenger=df1[
    (df1['Parch']>0) &
    (df1['SibSp']>0)
] [['Name', 'Parch', 'SibSp']]

Not_alone_passenger

In [ ]:
# Task 6. Filter Passengers Aged 15 or Younger Who Didn't Survive: Create a DataFrame with passengers aged 15 or younger who did not survive.

filt2=df1[
    (df1['Age']<=15) &
    (df1['Survived']==0)
] [['Name', 'Age', 'Survived']]

filt2

In [ ]:
# Task 7. Select Passengers with Cabins and Fare Greater Than $200: Extract passengers with known cabin numbers and a fare greater than $200.


filt3=df1[
    (df1['Cabin'].notna()) &
    (df1['Fare']>200)
] [['Name','Cabin', 'Fare']]

filt3

In [ ]:
# Task 8. Filter Passengers with Odd-Numbered Passenger IDs: Create a DataFrame with passengers whose PassengerId is an odd number.

odd_passenger=df1[df1['PassengerId']%2==1] [['PassengerId', 'Name']]
odd_passenger

In [ ]:
# Task 9. Select Passengers with Unique Ticket Numbers: Extract a DataFrame with passengers having unique ticket numbers.

unique_ticket=df1['Ticket'].value_counts()==1
unique_ticket_passengers=df1[df1['Ticket'].isin(unique_ticket[unique_ticket].index)]
[['Name', 'Ticket']]
unique_ticket_passengers

In [ ]:
# Task 10. Filter Passengers with 'Miss' in Their Name and Were in Class 1: Create a DataFrame with female passengers having 'Miss' in their name and were in Class 1.

female_passengers=df1[
    (df1['Sex']=='female') &
    (df1['Name'].str.contains('Miss', case=False, na=False)) &
    (df1['Pclass']==1)
] [['Name', 'Sex', 'Pclass']]
female_passengers