In [ ]:


import sqlite3

with sqlite3.connect("test_datebase.db") as conn:
    cursor=conn.cursor()
    create_table="""
    CREATE TABLE Roster(
    Name Text,
    Species Text,
    Age Int
    )
    """
    insert_values=""" 
    INSERT INTO Roster Values (
    'Benjamin Sisko', 'Human',	40),
    ('Jadzia Dax',	'Trill',	300),
    ('Kira Nerys'	,'Bajoran',	29
    );
    """
    cursor.execute(create_table)
    cursor.execute(insert_values)
    cursor.execute("Update Roster set Name='Ezri Dax' where Name='Jadzia Dax'")
    result=cursor.execute("Select Name, Age from Roster where Species='Bajoran'")
    conn.commit()
    result=cursor.fetchall()
    print("Bajoran crew members:")
for name, age in result:
    print(f" - {name}, Age: {age}")